﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


body {
    overflow-x: hidden;
    background-image: url('../images/palmier.jpg');
    background-repeat: repeat;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

nav {
    background-color: #a593c2;
    border-color: #a593c2;
}

#logo {
    width: 80%;
}

#navbarSupportedContent {
    height: 80px;
}

.navbar {
    padding: 0;
}

.sidebar-logo {
    height: 80px;
    background-color: #a593c2;
    border-color: #a593c2;
    width: 240px;
}


/*profile picture*/
.profile {
    width: 200px;
    overflow-y: visible;
    position: absolute;
}

.profile-bg, .profile-picture {
    width: 240px;
    height: 240px;
    position: absolute;
}

.profile-bg {
    overflow: hidden;
}

    .profile-bg img {
        width: 150px;
        height: 150px;
        filter: blur(16px);
        -webkit-filter: blur(16px);
        margin: -5px;
        border: 0;
    }

.profile-picture img.account-photo {
    width: 160px;
    height: 160px;
    margin-left: 40px;
    margin-top: 40px;
}

.circle {
    border-radius: 50%;
}

.menu {
    position: absolute;
    margin-top: 200px;
}

#sidebar-wrapper {
    width: 300px;
    min-height: 100vh;
    /*margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;*/
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

.list-group-item.active, .list-group-item.active:active, .list-group-item.active:focus, .list-group-item.active:visited {
    color: white;
    background-color: #a593c2 !important;
    border-color: #a593c2;
    font-weight: bold;
}

.title {
    color: white;
    padding-left: 25px;
}

#page-content-wrapper {
    min-width: 100vw;
}

.container-fluid {
    padding: 25px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.page-title {
    color: #23cfa7;
    font-size: 28px;
}

.table {
    background-color: white;
}

.table-btn {
    background-color: #23cfa7;
    border-color: #23cfa7;
    border-radius: 50%;
}

    .table-btn:hover, .table-btn:active {
        color: #fff;
        background-color: #a593c2 !important;
        border-color: #a593c2 !important;
    }

.quick-add-btn {
    font-size: 36px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.track-order-map {
    width: 350px;
    height: 500px;
    flex-shrink: 0;
}

.edit-btn {
    background-color: #23cfa7;
    border-color: #23cfa7;
    color: #fff;
}

    .edit-btn:hover, .edit-btn:active {
        color: #fff;
        background-color: #a593c2;
        border-color: #a593c2;
    }

.edit-outline-btn {
    border-color: #23cfa7;
}

    .edit-outline-btn:hover, .edit-outline-btn:active {
        color: #fff;
        background-color: #a593c2 !important;
        border-color: #a593c2 !important;
    }


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }