﻿@page "/cocktails"
@using CocktailClient.Client.Shared
@using MudBlazor.Extensions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components

@inject NavigationManager NavManager

<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Cocktail</MudText>
 <MudText Align="Align.Center">Tester votre cocktail préféré.</MudText>
 <MudGrid Class="mt-8">
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/A1.jpg" Alt="A1" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">A1</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" @onclick="Navigate1">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/Abc.jpg" Alt="Abc" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">ABC</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" @onclick="Navigate2">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/Ace.jpg" Alt="Ace" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">ACE</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" @onclick="Navigate3">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/Veteran.jpg" Alt="Veteran" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">VETERAN</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/Abilene.jpg" Alt="Abilene" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">ABILENE</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
     <MudItem xs="12" sm="6" md="4">
         <MudCard Elevation="25" Class="rounded-lg pb-4">
             <MudCardHeader>
                 <CardHeaderContent>
                     <MudImage Fluid="true" Src="images/Paloma.jpg" Alt="Paloma" Class="rounded-lg" />
                     <MudText Typo="Typo.h5" Align="Align.Center">PALOMA</MudText>
                 </CardHeaderContent>
             </MudCardHeader>
             <MudCardActions Class="d-flex justify-center">
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Details</MudButton>
             </MudCardActions>
         </MudCard>
     </MudItem>
 </MudGrid>
<br />
<br />

<MudPagination Size="Size.Large" Variant="Variant.Filled" Count="3" @bind-Selected="@_selected"></MudPagination>

<MudText Align="Align.Center">Selected page: @_selected</MudText>

@code {
    private int _selected = 1;

    void Navigate1()
    {
        NavManager.NavigateTo("Details1");
    }

    void Navigate2()
    {
        NavManager.NavigateTo("Details2");
    }

    void Navigate3()
    {
        NavManager.NavigateTo("Details3");
    }

}
