﻿@page "/details1"

<h3>Details</h3>

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">A1</MudText>           
                </CardHeaderContent>        
             </MudCardHeader>
                <MudImage Src="images/A1.jpg" Width="250" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.h6">Ingredients: Rhum, citron, glace pilée.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {

}
