﻿@page "/details3"

<h3>Details</h3>

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">ACE</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudImage Src="images/Ace.jpg" Width="250" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.h6">Ingredients: Orange, jus de citron, carotte.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {

}
