﻿@page "/"

<PageTitle>Index</PageTitle>

<br />
<MudButton Variant="Variant.Filled" Color="Color.Secondary" FullWidth="true" Size="Size.Large"> Bienvenue dans le monde du Cocktail</MudButton>
<br />
<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Warning">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Src="images/A1.jpg" Alt="A1" Class="rounded-lg" />
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.LocalBar" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Src="images/ACE.jpg" Alt="ACE" Class="rounded-lg" />
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.LocalBar" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Src="images/Blue-lagoon.jpg" Alt="Blue-lagoon" Class="rounded-lg" />
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.LocalBar" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Tertiary">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Src="images/Mojito.jpg" Alt="Mojito" Class="rounded-lg" />
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.LocalBar" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Error">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Src="images/Rouge-passion.jpg" Alt="Rouge-passion" Class="rounded-lg" />
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Material.Filled.LocalBar" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>
<br />
<br />
<div class="d-flex justify-center">
    <MudImage Height="500" Width="1000" Src="images/Bar.jpg" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
</div>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}
