﻿@page "/recette"
@page "/recette/{id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using CocktailClient.Shared
@inject ISuperRecetteService SuperRecetteService

@if (Id == null)
{
    <PageTitle>Create a new Super Recette</PageTitle>
    <h3>Create a new Super Recette</h3>
}
else
{
    <PageTitle>Edit @recette.Name</PageTitle>
    <h3>Edit @recette.Name</h3>
}

<EditForm Model="recette" OnSubmit="HandleSubmit">
    <MudGrid>
        <MudItem xs="12" sm="8">
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="recette.Name" Label="Name" Variant="Variant.Outlined"></MudTextField>
                    <MudTextField T="string" Label="Ingredients" Variant="Variant.Outlined" Text="@sampleText" Lines="8" />
                    <MudTextField T="string" Label="Description" Variant="Variant.Outlined" Text="@sampleText" Lines="4" />
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">@Save</button>
                    <button type="button" class="btn btn-danger" @onclick="DeleteRecette">Delete Recette</button>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
   
    string sampleText = "";
    string Save = string.Empty;

        CocktailClient.Shared.SuperRecette recette = new CocktailClient.Shared.SuperRecette();

    protected override async Task OnInitializedAsync()
    {
        Save = Id == null ? "Save New Recette" : "Update Recette";
        await SuperRecetteService.GetIngredients();
    }

    protected override async Task OnParametersSetAsync()
    {        
            recette = await SuperRecetteService.GetSingleRecette((int)Id);        
    }

    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await SuperRecetteService.CreateRecette(recette);
        }
        else
        {
            await SuperRecetteService.UpdateRecette(recette);
        }
    }

    async Task DeleteRecette()
    {
        await SuperRecetteService.DeleteRecette(recette.Id);
    }
}