﻿<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>

    <MudNavGroup Title="Menu" Expanded="true">
        <MudNavLink Href="/cocktails" Match="NavLinkMatch.Prefix">Cocktails</MudNavLink>
        <MudNavLink Href="/superrecettes" Match="NavLinkMatch.Prefix">Nouveau Cocktail</MudNavLink>        
    </MudNavGroup>    
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
